@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none !important;
} 

/* Navbar */
header{
    width: 100%;
    height: 80px;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 1.6em;
    text-transform: uppercase;
    color: #fefefe;
}

.nav-bar{
    display: flex;
}

.nav-bar a{
    display: block;
    color: #fefefe;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
} 

.nav-bar a:hover{
    color: #111;
    background: #fefefe;
}
 
@media screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}

@media screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}
@media screen and (max-width: 900px) {

    header{    width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }
    
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: #111;
        top: 80px;
        left: 0;
        right: 0;
        transition: 0.2s;
    }
}

 /* Index html */
.padd{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #11101b ;
}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(251, 3, 3, 0.034);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    padding-bottom: 100px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #11101b;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .content a:hover{
    background: #111;
    color: #fff;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    display: block;
    transform: scale(1.3);
    color: #11101b;
}

.home img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn:active{
    background: #11101b;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.img-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media screen and (max-width: 900px){
    .home{
        margin-top: 45px;
    }
    .home .content h1{
        font-size: 3em;
        line-height: 60px;
    }
    .home .content{
        width: 90%;
        padding-bottom: 0;
    }
}
/* Encabezado de todas las secciones */
.encabezado .titulo{ 
    display: flex; 
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 50px 0 50px 70px;
    color: #fff;
    background: #111;
}

/* Rutinas */
.container-rutinas{
    max-width: 1400px;
    margin: auto;
}

#nuestras-rutinas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestras-rutinas .row{
    justify-content: space-around;
}

#nuestras-rutinas .container-rutinas{
    padding: 100px 0px;
}

#nuestras-rutinas h5{
    margin-top: 0; 
    font-size: 3em;
    color: #fff;
}

#nuestras-rutinas p{ 
    color: #fff;
    font-size: 1.25em;
}

#nuestras-rutinas .card{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    transition: 0.3s ease;
}

#nuestras-rutinas .card:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
}

.card:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    ) 
    ,url("/Img/espalda.jpg");
}

.card:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    ) 
    ,url("/Img/pectorales.jpg");
}

.card:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    ) 
    ,url("/Img/piernas2edit.jpg");
}

.card:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    ) 
    ,url("/Img/biceps-edit.jpg");
}

.card:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    ) 
    ,url("/Img/triceps.webp");
}

.card:last-child{ 
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    ) 
    ,url("/Img/abdominales.jpg");
}

@media (max-width: 900px) {
.encabezado-cursos .titulo{
    text-align: center;
    padding: 110px;
    padding-bottom: 70px;
}
    
#nuestras-rutinas .card {
    display: flex;
    justify-content: center;
    }
}
 /* Nosotros */ 
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
} 
 
.section .container{ 
    width: 80%; 
    display: block; 
    margin: auto; 
    padding-top: 100px;
}
 
.content-section{
    float: left;
    width: 55%;
}
 
.image-section{
    float: right;
    width: 40%;
}
 
.image-section img{
    width: 100%;
    height: auto;
}
  
.content-section .title{ 
    text-transform: uppercase;
    font-size: 28px;
} 
 
.content-section h3{
    margin-top: 20px; 
    color: #5d5d5d;
    font-size: 21px;
} 

.content-section .content-nos p {
    margin-top: 10px; 
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
} 
 
.content-section .content-nos .button{
    margin-top: 30px;
} 

.content-section .content-nos .button a{
    background-color: #1e1e1e;
    padding: 12px 40px;
    text-decoration: none; 
    color: #fff;
    font-size: 25px; 
    letter-spacing: 1.5px;
    transition: 0.2;
}
 
.content-section .social{
    margin-top: 30px;
} 
 
.content-section .social a{ 
    color: #616161;
    font-size: 30px;
    padding: 0px 10px;
} 

.content-section .social a:hover{
    color: #313131;
} 

@media screen and (max-width: 900px){
    .section .container{
        width: 80%; 
        display: block; 
        margin: auto; 
        padding-top: 50px;
    }
     
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    } 
     
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }   
     
    .image-section img{
        width: 100%;
        height: auto; 
        display: block; 
        margin: auto;
    }

    .content-section .title{
        text-align: center;
        font-size: 19px;
        padding: 30px;
    }
     
    .content-section .content-nos .button{
        text-align: center;
    }
     
    .content-section .content-nos .button a{
        padding: 9px 30px;
    }  

    .content-section .social{
        text-align: center; 
        padding-bottom: 9px;
    } 
}
 
/* Preguntas: */
  

/* Contacto: */
.contactUs{
    position: relative; 
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background-color: #ddd;
} 

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.contact{
    padding: 40px;
    color: #fff;
} 

.box{
    position: relative; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas: 
    "form info";
    grid-gap: 20px;
    padding-top: 20px;
}

.form h3{
    color: #515151; 
    font-weight: 500; 
    font-size: 1.4em; 
    margin-bottom: 30px;
}
  
/* form */ 
.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex; 
    gap: 20px;
} 

.inputBox{  
    display: flex; 
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{ 
    width: 100%;
}

.inputBox input{
    padding: 10px; 
    font-size: 0.8em; 
    outline: none;
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #fff;
} 

.inputBox textarea{ 
    padding: 10px; 
    font-size: 0.85em; 
    outline: none; 
    color: #fff;
    background-color: #1e1e1e;
    border: 1px solid #333;
    resize: none;
    width: 100%;
    min-height: 175px; 
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    cursor: pointer;
    background: #1e1e1e; 
    border: solid 1px,
    rgba(0, 0, 0, 0.3);
    color: #fff; 
    resize: none; 
    padding: 5px 30px;
}

.inputBox ::placeholder{
    color: #999;
} 

/* Info  */ 
.info h3{
    color: #515151;
    font-weight: 500; 
    font-size: 1.4em; 
    margin-bottom: 30px;
}

.info .infoBox div{
    display: flex;
    color: #515151;
    align-items: center;
    margin-bottom: 10px;
} 

.info .infoBox div span{ 
    min-width: 40px;
    height: 40px;
    color: #515151;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.5em;  
    margin-right: 5px;
} 

.info .infoBox div p{
    color: #515151; 
    font-size: 1.1em; 
}

.info .infoBox div a{ 
    color: #515151; 
    text-decoration: none;
    font-size: 1.1em;
} 

.sci{
    padding: 10%;
    display: flex;
    transition: 0.3s ease;
}

.sci li a{
    color: #515151;
    margin-right: 15px;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.sci li a:not(:last-child){
    margin-bottom: 20px;
}

.sci li a:hover{
    display: block;
    transform: scale(1.3);
    color: #11101b;
}
@media(max-width: 900px){
    
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
        grid-template-areas: 
          "form"
          "info";
        }
        
        .formBox .row50{ 
            display: flex; 
            gap: 0; 
            flex-direction: column; 
        }
        
        .inputBox{
            width: 100%;
        }
        
        .contact{
            padding: 30px;
        } 
    } 

    /* Footer */
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
    } 
    
footer {
    height: 10vh; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #151515;
}